<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <img class="lanterna" src="img/lanterna.jpg" align="left" width="30%" height="60%" hspace=”50″>
        <h1 style="color:#FFBF18;">La Lanterna di Lida e Beppe</h1>
        <br>
        <p class="lead">Il bed &amp; breakfast vanta una camera da letto spaziosa e luminosa, un bagno e una cucina appena ristrutturata. <br>
          Al mattino sarà disponibile una colazione a buffet inclusa nel prezzo . Inoltre potrete godere delle belle giornate estive utilizzando i due terrazzi. <br>
         Utilizzando la macchina impiegherete solo 15 minuti per arrivare in Piazza dei Miracoli . L'Aeroporto Galileo Galilei  dista 1,5 km dalla nostra struttura. </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
