<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Qualcosa</h2>
        <p class="lead">Il bed &amp; breakfast presenta 1 camera da letto, 1 bagno con bidè, una TV a schermo piatto e una cucina con forno, frigorifero e piano cottura. A vostra disposizione una TV a schermo piatto. Al mattino vi attende una colazione a buffet. Il bed &amp; breakfast vanta una terrazza. La Lanterna di Lida e Beppe dista 5 km dalla Torre Pendente e 3,2 km dall'Orto Botanico di Pisa. L'Aeroporto Internazionale di Pisa dista 1,5 km. Questa zona di Pisa è una delle preferite dai nostri ospiti, in base alle recensioni indipendenti.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
