<section id="about" class="about">
  
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center";>
        <p><img class="lanterna" src="img/lanterna.png" align="left" width="30%" height="90%" ALT="Logo piccolo"
               style="border: 8px ridge whitesmoke;" HSPACE="0" VSPACE="100">
        </p>
        <h1 style="color:#FFBF18;" style="border: 8px ridge whitesmoke;">La Lanterna di Lida e Beppe</h1>
       
        <p class="lead"  align="center">
          
          <ul type="circle">
            
         <li> Il bed &amp; breakfast vanta una camera da letto luminosa, un bagno e una cucina appena ristrutturati. 
         
          <li> Al mattino sarà disponibile una colazione a buffet inclusa nel prezzo . 
           
         <li> Inoltre potrete godere delle belle giornate estive utilizzando i due terrazzi.
           
         <li>Utilizzando la macchina impiegherete solo 15 minuti per arrivare alla Torre di Pisa.
           
         <li> L'Aeroporto Galileo Galilei  dista 1,5 km dalla nostra struttura. 
          </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>


