<header id="top" class="header">
  <div class="text-vertical-center">
    <h1 style="color:#FFBF18;"><strong> La Lanterna di Lida e Beppe </strong></h1> 
    <div align="center" top:-50px; 
        left:300px; 
        width:100px; 
        height:100px">
   <img class="lanterna" src="img/lanterna.jpg" align="left" width="10%" height="30%" >
<h2 style="color: black;"> <strong> Bed and Breakfast <strong></h2>
  
</div>
    <br>
    <a href="#about" class="btn btn-dark btn-lg">Scorri verso il basso</a>
  </div>
      </header>

    

   
