<header id="top" class="header">
  <div class="text-vertical-center">
    <h1 style="color:#FFBF18;"><strong> La Lanterna di Lida e Beppe </strong></h1> 
    <div align="center" top:-150px; 
        right:50px; 
        width:50px; 
        height:50px">
   <img class="lanterna" src="img/lanterna.png" width="20%" height="60%" style="float:left;width:20%;height:60%;"> 
<h2 style="color: black;"> <strong> Bed and Breakfast <strong></h2>
  
</div>
    <br>
    <a href="#about" class="btn btn-dark btn-lg">Scorri verso il basso</a>
  </div>
      </header>


   
