<header id="top" class="header">
  <div class="text-vertical-center">
    <h1 style="color: yellow;text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;font-family: 'Arial Black', Gadget, sans-serif;font-size:180px;" class=""><h1>     La Lanterna di Lida e Beppe </h1></h1>

<div class=""></div> 
       <div align="center" top:-50px;="" left:300px;="" width:100px;="" height:100px"="">
   
<h2 style="color: black;"> <strong>    Bed and Breakfast <strong></strong></strong></h2><strong><strong>
  
</strong></strong></div><strong><strong>
    <br>
    <a href="#about" class="btn btn-dark btn-lg">Scorri verso il basso</a>
    <img class="lanterna" src="img/lanterna.png" width="20%" height="60%" style="float:middle;width: 20%;height: 20%;margin-left: 150px;margin-top: 230px;position: absolute;">
  </strong></strong></div><strong><strong>
      </strong></strong></header>
