<section id="map" class="map">
  <iframe id="map_iframe"
    width="100%"
    height="100%"
    frameborder="0"
    scrolling="no"
    marginheight="0"
    marginwidth="0"
    src=https://www.google.com/maps/place/Via+Sant'Agostino,+5,+56121+Pisa+PI/@43.7061575,10.3980355,17z/data=!3m1!4b1!4m5!3m4!1s0x12d591835f98c749:0xeafdb83743631df8!8m2!3d43.70622!4d10.400243>
  </iframe>
  <br>
  <small id="map_iframe"
    width="100%"
    height="100%"
    frameborder="0"
    scrolling="no"
    marginheight="0"
    marginwidth="0"
    src="https://maps.google.com/maps/embed/v1/place?key={{ site.google_api_key }}&q={% for address in site.address %}{{ address.line }},{% endfor %}"
    allowfullscreen>
  </small>
</section>
