<section id="map" class="map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m10!1m3!1d23070.507770153898!2d10.400983926783512!3d43.71283702244927!2m1!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12d591835fc0ddf7%3A0x1d22f95ffbe9bea1!2sLa+Lanterna+di+Lida+e+Beppe!5e0!3m2!1sit!2sit!4v1557048733206!5m2!1sit!2sit" width="2000" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
  <br>
  <small id="map_iframe"
    width="100%"
    height="100%"
    frameborder="0"
    scrolling="no"
    marginheight="0"
    marginwidth="0"
    src="https://maps.google.com/maps/embed/v1/place?key={{ site.google_api_key }}&q={% for address in site.address %}{{ address.line }},{% endfor %}"
    allowfullscreen>
  </small>
</section>
